
*{
 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Maincontainer{
    display: flex;
    border: 1px solid blueviolet;
    justify-content: space-around;

}
.Second-Image{
    display: flex;
    flex-direction: column;
}
.first{
    border-radius: 20px;
    height: 450px;
    width: 650px;
    margin-right: -220px;
}

.second{
    border-radius: 20px;
    height: 220px;
 width: 400px;
   margin-bottom: 10px;
    
}
.third{
    border-radius: 20px;
    height: 220px;
    width: 400px;
  
}


.homelatest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     margin-top: 60px;
     border: 2px solid red;
}
.heading{
    
    width:300px;
    font-size: 17px;
    border: 2px solid rgb(0, 255, 213);
}
.para1{
 
    width: 300px;
    position: relative;
   
}

.secondbox{
    margin-left: 150px;
    margin-top: 300px;
    text-align: left;
}

.thirdbox{
    display: flex;
    justify-content: space-around;
    border: 5px solid black;
   
}
.Right{
width:700px;
position: relative;
margin-top: 100px;

border: 2px solid green;
}
.middle5{
    height:300px;
    position: relative;
    border: 1px solid yellow;
   
}

.heading2{
    position: absolute;
     left:420px;
     top:5px;
     font-weight: bolder;
      width:250px;
      border: 2px solid purple;
}
.para2{
    position: absolute;
    left: 422px;
    top: 60px;
    width: 250px;
    border: 2px solid rgb(128, 55, 0);
}
.Left{
    position: relative;
    width:500px;
    margin-top: 100px;
    border:2px solid blue
}
.mid{
    height:173px; 
    border:2px solid orangered
   
}
.head4{
    position: absolute;
    font-weight: bolder;
    left:220px;
    margin-top: 20px;
    width: 250px;
    border:2px solid rgb(17, 255, 0)
}



.advertise{
    display: flex;
 align-items: center;
    height: 700px;
    width: 420px;
    border: 1px solid black;
   
   
    
}

#firstimage{
    height:700px;
    width:350px;
}

#topstoryimage{
    width:400px;
     height:250px
}
#Latestimage{
    height:300px;
    width:320px
}
#topostimage{
    width:200px;
    height:150px
}



/* dynamic route */
.parentContainer{
   
  
   display:flex ;
   justify-content: center;
   align-items: center;
  border:2px solid red;
   
}
.container1{
   width:500px;
    border:3px solid rgb(162, 255, 0);
 
}
#heading{
    width: 490px;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content:center ;
    border:4px solid rgb(30, 117, 199);
}
 .content{
    width:490px;
    border:2px solid rgb(255, 0, 136);
   
    font-size: 25px;
   text-align: center;
} 
/* .dynamichr{
    background-color: #f0f0f0;
    border: none;
    height: 3px;
} */
.like-icons{
    position: absolute;
    left:75px;
    top: 430px;
    font-size: 25px;
    border:2px solid rgb(238, 0, 255);
}
.share-icons{
    position: absolute;
   left:70px;
    top: 501px;
    font-size: 25px;
    border:2px solid rgb(0, 255, 162);
}
.middle-icon{
    border:2px solid rgb(0, 81, 255);
display: flex;
margin-top: 25px;
width:490px;
justify-content: space-between;
flex-wrap: wrap;
}
.middle-icon1{
    border:2px solid rgb(0, 81, 255);
    display: flex;
    margin-top: 25px;
    width:490px;
   justify-content: center;
    flex-wrap: wrap;
}
.name{
 margin-top: 20px;
 border:2px solid rgb(255, 0, 0);
 width:100px;
}
.date{
    margin-top: 51px;
    border:2px solid rgb(0, 255, 34);
    /* margin-left: -87px; */
   
}
.datecon{
    border: 2px solid black;
    display: flex;
}
.icons{
    border:2px solid rgb(130, 68, 103);
   margin-top: 30px;
   /* margin-left: 180px; */
    
}
.imagecenter{
    height:300px;
    width:98%;
    border:2px solid rgb(0, 187, 255);
}
.Lower-Item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    border:2px solid rgb(255, 0, 144);
    
}
.Lower-heading{
   
    font-size: 25px;
    font-weight: bold;
   
    border:2px solid rgb(187, 255, 0);
    display: inline-block;

}
.Limage{
    border:2px solid black
}
.lower-hr{
    background-color: #f7eded;
    border: none;
    height: 3px;
    width:50%
}
.Shiren-hr{
    background-color: #e8dfdf;
    border: none;
    height: 3px;
   
}
.detail-content{
    height: 200px;
    width:300px;
    border:2px solid rgb(119, 255, 0);
}
 
.title{
    
    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;
    border:2px solid rgb(0, 255, 208);
   width:290px;
}
.btn{
    height: 50px;
    width: 7%;
    font-size: 20px;
    border-radius: 5px;
   
    cursor: pointer;
}
.threeimage{
    height: 200px;
    width:300px;
    border:2px solid rgb(242, 255, 0);
}
/* media querry phone view */
@media screen and (min-width:370px) and (max-width:600px) {
    .Maincontainer{
        display: flex;
       
       flex-direction: column;
    align-items: center;
    justify-content: center;
     border:2px solid greenyellow
    
    }
    .Second-Image{
        display: flex;
        flex-direction: column;
    }
    .first{
        border-radius: 20px;
        height: 220px;
        width: 330px;
        margin-right: 9px;
    }
    
    .second{
        border-radius: 20px;
        height: 220px;
        width: 330px;
        margin-bottom: 10px;
        
    }
    .third{
        border-radius: 20px;
        height: 220px;
        width: 330px;
      
    }
    
    
    .homelatest{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       margin-top: 60px;
      
        border: 2px solid red;
    }
    .heading{
       
        width:300px;
        font-size: 17px;
        border: 2px solid rgb(0, 255, 213);
    }
    .para1{
        
        width: 300px;
        position: relative;
        
    }
    
    .secondbox{
        margin-left: 150px;
        margin-top: 300px;
        text-align: left;
       
       
    }
    
    .thirdbox{
        display: flex;
        justify-content: space-around;
        border: 5px solid black;
        flex-direction: column;
       
    }
    .Right{
        width: 359px;
        position: relative;
        margin-top: 100px;
         border: 2px solid green;
    }
    .middle5{
        height: 233px;
    position: relative;
    border-bottom: 2px solid grey;
        border: 1px solid yellow;
       
    }
    
    .heading2{
        position: absolute;
        left: 204px;
        top: 5px;
        font-weight: bolder;
        width: 144px;
          border: 2px solid purple;
    }
    .para2{
        position: absolute;
        left: 199px;
        top: 77px;
        width: 147px;
        border: 2px solid rgb(128, 55, 0);
    }
    .Left{
        position: relative;
        /* right: 80px; */
        width: 360px;
        margin-top: 100px;
    }
    .mid{
        height:173px; 
        border:2px solid orangered
       
    }
    .head4{
        position: absolute;
        font-weight: bolder;
        left: 218px;
        margin-top: 20px;
        width: 133px;
        border:2px solid rgb(17, 255, 0)
    }
    
    
    .advertise{
        display: flex;
        align-items: center;
        height: 700px;
        width: 357px;
        border: 1px solid black;
       
       
        
    }
    
    #firstimage{
        height:700px;
        width:350px;
    }
    
    #topstoryimage{
        width: 188px;
        height: 193px;
    }
    #Latestimage{
        height: 218px;
        width: 283px;
    }
    #topostimage{
        width: 200px;
        height: 132px;
    }
    
    
    
    /* dynamic route */
    .parentContainer{
   
  
        display:flex ;
        justify-content: center;
        align-items: center;
       border:2px solid red;
        
     }
     .container1{
        width: 361px;
         border:3px solid rgb(162, 255, 0);
      
     }
     #heading{
        width: 351px;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
         border:4px solid rgb(30, 117, 199);
     }
      .content{
        width: 349px;
    border: 2px solid rgb(255, 0, 136);
    font-size: 25px;
    text-align: center;
     } 
     /* .dynamichr{
         background-color: #f0f0f0;
         border: none;
         height: 3px;
     } */
     /* .like-icons{
         position: absolute;
         left:75px;
         top: 430px;
         font-size: 25px;
         border:2px solid rgb(238, 0, 255);
     }
     .share-icons{
         position: absolute;
        left:70px;
         top: 501px;
         font-size: 25px;
         border:2px solid rgb(0, 255, 162);
     } */
     .middle-icon{
        border: 2px solid rgb(0, 81, 255);
    display: flex;
    margin-top: 25px;
    width: 355px;
    justify-content: space-between;
     }
     .middle-icon1{
         border:2px solid rgb(0, 81, 255);
         display: flex;
         margin-top: 25px;
         width:351px;
        justify-content: center;
         flex-wrap: wrap;
     }
     .name{
      margin-top: 20px;
      border:2px solid rgb(255, 0, 0);
      width:100px;
     }
     .date{
         margin-top: 51px;
         border:2px solid rgb(0, 255, 34);
         /* margin-left: -87px; */
        
     }
     .datecon{
         border: 2px solid black;
         display: flex;
     }
     .icons{
         border:2px solid rgb(130, 68, 103);
        margin-top: 30px;
        /* margin-left: 180px; */
         
     }
     .imagecenter{
         height:300px;
         width:98%;
         border:2px solid rgb(0, 187, 255);
     }
     .Lower-Item{
         display: flex;
         justify-content: space-around;
         align-items: center;
         flex-direction: column;
         border:2px solid rgb(255, 0, 144);
         
     }
     .Lower-heading{
        
         font-size: 25px;
         font-weight: bold;
        
         border:2px solid rgb(187, 255, 0);
         display: inline-block;
     
     }
     .Limage{
         border:2px solid black
     }
     .lower-hr{
         background-color: #f7eded;
         border: none;
         height: 3px;
         width:50%
     }
     .Shiren-hr{
         background-color: #e8dfdf;
         border: none;
         height: 3px;
        
     }
     .detail-content{
         height: 200px;
         width:300px;
         border:2px solid rgb(119, 255, 0);
     }
      
     .title{
         
         font-weight: bolder;
         margin-bottom: 30px;
         text-align: center;
         border:2px solid rgb(0, 255, 208);
        width:290px;
     }
     .btn{
         height: 50px;
         width: 7%;
         font-size: 20px;
         border-radius: 5px;
        
         cursor: pointer;
     }
     .threeimage{
         height: 200px;
         width:300px;
         border:2px solid rgb(242, 255, 0);
     }
}

