*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    
}
.App{
    display: flex;
    justify-content: center;
}
#The{
    font-size: 25px;
     transform: rotate(-90deg);
}
#siren{
    font-size: 40px;
    font-weight: bolder;
    
}
/* .compo{
   
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 70%;
    font-size: 20px;
} */
/* a{
    text-decoration: none;
    color:black  
}
a:hover{
    color: grey;
} */
.home{
    text-decoration: none;
    color:black   
}
.home:hover{
    color: grey;
}
.tech{
    text-decoration: none;
    color:black   
}
.tech:hover{
    color: grey;
}
.bollywood{
    text-decoration: none;
    color:black  
}
.bollywood:hover{
    color: grey;
}
.hollywood{
    text-decoration: none;
    color:black   
}

.hollywood:hover{
    color: grey;
}
.fit{
    text-decoration: none;
    color:black     
}
.fit:hover{
    color: grey;
}
.food{
    text-decoration: none;
    color:black     
}
.food:hover{
    color: grey;
}
a{
    text-decoration: none;
    color:black     
}

/* All component */

.Mainparent{
    display: flex;
    justify-content: space-around;
    border:5px solid black;
   
}
.right{

width:650px;
position: relative;
border:2px solid red;

}

.head{
    position: absolute;
    left: 314px;
    font-weight: bolder;
    width: 200px;
border:2px solid purple


}
.description{
    position: absolute;
    left: 311px;
    top: 60px;
    width: 324px;
    height: 120px;
    border: 2px solid green;
   
}
.middle{
height:220px;
margin-bottom: 50px;
position: relative;
border:2px solid yellow
}
.middle1{
    height:180px; 
    border:2px solid blue
}
.linegrey{
   
    height: 3px;
    border: none;
    background-color: #f0f0f0;
}
.line{
    height: 3px;
    border: none;
    background-color: #f0f0f0; 
}  
.left{
    position: relative;
    border: 2px solid green;
    
   
}


.head1{
    position: absolute;
    font-weight: 600;
   left:220px;
    width: 100px;
    border:2px solid rgb(174, 48, 179)

   
}

.counter{
    color: #c5c5c5;
    font-size: 40px;
    position: absolute;
    right:10px;
    top:40px;
    display:inline-block;
}
.btn1{
    height: 50px;
    width: 7%;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 180px;
    margin-bottom: 30px;
    cursor: pointer;
}
.advertisement{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 350px;
    border: 1px solid black;
   
   
    
}
#secondimage{
    height:700px;
    width:420px;
}
#bimage{
    width:300px;
     height:200px
}
#bimage1{
width:200px;
 height:150px  
}
/* phone view */
@media screen and (min-width:375px) and (max-width:580px){
    .App{
        display: flex;
        justify-content: center;
    }
    #The{
        font-size: 25px;
         transform: rotate(-90deg);
    }
    #siren{
        font-size: 40px;
        font-weight: bolder;
        
    }
   
    .home{
        text-decoration: none;
        color:black   
    }
    .home:hover{
        color: grey;
    }
    .tech{
        text-decoration: none;
        color:black   
    }
    .tech:hover{
        color: grey;
    }
    .bollywood{
        text-decoration: none;
        color:black  
    }
    .bollywood:hover{
        color: grey;
    }
    .hollywood{
        text-decoration: none;
        color:black   
    }
    
    .hollywood:hover{
        color: grey;
    }
    .fit{
        text-decoration: none;
        color:black     
    }
    .fit:hover{
        color: grey;
    }
    .food{
        text-decoration: none;
        color:black     
    }
    .food:hover{
        color: grey;
    }
    a{
        text-decoration: none;
        color:black     
    }
    
    
    /* All component */
    
    .Mainparent{
        display: flex;
        justify-content: space-around;
        border:5px solid black;
        flex-direction: column;
        align-items: center;
    }
    .right{
    
        width: 350px;
        position: relative;
        border: 2px solid red;
   
    
    }
    
    .head{
        position: absolute;
        left: 164px;
        font-weight: bolder;
        width: 174px;
    border:2px solid purple
    
    
    }
    .description{
        position: absolute;
        left: 162px;
        top: 60px;
        width: 176px;
        height: 120px;
       border: 3px solid palevioletred;
       
    }
    .middle{
        height:250px;
    margin-bottom: 50px;
    position: relative;
    border:2px solid yellow
    }
    .middle1{
        height:180px; 
        border:2px solid blue
    }
    .linegrey{
       
        height: 3px;
        border: none;
        background-color: #f0f0f0;
    }
    .line{
        height: 3px;
        border: none;
        background-color: #f0f0f0; 
    }  
    .left{
        position: relative;
        /* right:80px; */
        border: 2px solid green;
        width:351px;
        
       
    }
    
    #toppost{
        position: absolute;
        top: 206px;
        right: 416px;
        
    }
    .head1{
        position: absolute;
        font-weight: 600;
        left:220px;
         width: 100px;
        border:2px solid rgb(174, 48, 179)
     }
    
    
    .counter{
        color: #c5c5c5;
        font-size: 40px;
        position: absolute;
        right:10px;
        display:inline-block;
    }
    .btn1{
        height: 50px;
        width: 7%;
        font-size: 20px;
        border-radius: 5px;
        margin-left: 180px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .advertisement{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 800px;
        width: 350px;
        border: 1px solid black;
       
       
        
    }
    #secondimage{
        height:700px;
        width:350px;
    }
    #bimage{
        width: 150px;
        height: 200px;
    }
    #bimage1{
        width: 184px;
        height: 150px;
    }

}

